:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

  
  html, body {
    height: 100%;
    padding: 0;
    background-repeat: no-repeat;
  }
  
  body {
    background-image: linear-gradient(63deg, #000, #686868);
    background-size: cover;
    z-index: 0;
  }
  
  .montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
  }
  
  header {
      z-index: 1;
      opacity: 0.8;
      color: #d7e93b;
      font-size: 15px;
      background-color: #252424;
      border-radius: 13px;
  }
  
  main {
    color: black;
    background-color: #bebebe;
    width: 86.9572%;
    margin-left: 150px;
    margin-right: auto;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
    opacity: 0.8;
    margin-top: 20px;
  }

  .navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  z-index: 3;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.nav-link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: auto 1.5rem;
  padding-top: 52.5589764px;
}

.nav-link:hover {
  color: rgb(255, 238, 0);
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
  display: inline-block;
  margin-top: auto;
}
  
.creditos {
    list-style: none;
    padding-left: 3%;
}
  
footer {
    position: absolute;
    background-color: #252424;
    bottom: 0;
    right: 0;
    color: #d7e93b;
    border-radius: 13px;
    width: 1920px;
    z-index: 4;
}

  .titulo {
    font-size: 30px;
    text-align: center;
  }

  .foto {
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    opacity: 1.0;
    scale: 0.8;
    border-radius: 13px;
  }

  main > p {
    font-size: 25px;
  }

  